/* Playbox  (and Price Drops)
--------------------------------------------------------------------------------------------------- */

.game-selection {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 35px;
    max-width: 1000px;
    margin: 50px auto;
}

.game-selection a:hover {
    border-color: #b82f7a;
    box-shadow: 0 0 10px 5px rgba(145, 43, 99, 0.3);
}

.game-selection__specific {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 43px 35px 10px 35px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 0.5px;
    position: relative;
}

.game-selection__specific img {
    max-width: 100%;
    grid-column: -1/1;
}

.hearth-icon {
    position: absolute;
    top: 10px;
    right: -25px;
    width: 23px;
    height: 23px;
}

.hearth-icon:hover {
    filter: invert(35%) sepia(81%) saturate(4410%) hue-rotate(328deg) brightness(95%) contrast(109%);
}

.game-selection__specific h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.old-price {
    text-decoration: line-through;
    color: #7E7E7E;
}

.new-price {
    color: #ff0000; 
}

.specific__price {
    text-align: right;
    margin-right: -23px;
}

.specific__title {
    margin-left: -23px;
    width: 120px;
}

.game-selection p {
    color: #7E7E7E;
    margin: 5px 0px 20px -23px;
}

.page-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin-bottom: 20px;
}

.pv-count {
    text-align: center;
    color: #1B203D;
}

.pv-next {
    text-align: right;
}

.pv-next,
.pv-previous {
    color: #bdbdbd;
}

.hidden {
    visibility: hidden;
}

