/* Product pages
--------------------------------------------------------------------------------------------------- */

.selected-game {
    display: grid;
    grid-template-columns: 1fr;
 }
 
 .selected-game__images {
     margin: 50px 45px 20px 20px;
 }
 
 .selected-game__images img {
     max-width: 100%;
 }
  
 .selected-game__details {
     margin: 50px 20px 20px 20px;
 }
 
 .selected-game__details h3 {
     color: #1B203D;  
     font-size: 1.5em;
     margin: 0;
 }
 
 .selected-game__details h4 {
     margin: 5px 0px 20px 0px;
     color: #7E7E7E;
     font-weight: 200;
 }
 
 .selected-game__details p {
     color: #1B203D;
 }
 
 .details_description {
     margin-top: 10px;
     margin-bottom: 0px;
 }
 
 .details_genre {
     margin-top: 45px;
     margin-bottom: 20px;
 }
 
 .details_decision {
     display: grid;
     margin: 50px 0px;
     grid-template-columns: 1fr;
     align-items: center;
     grid-gap: 45px;
 }
 
 .details_decision p {
     margin-top: 0px;
     margin-bottom: 0px;
 }
 
 .details_cta {
     text-align: center;
     padding: 12px 0px;
 }
 
 .selected-game_thumbnails {
     display: flex;
     justify-content: space-between;
     gap: 10px;
     margin-top: 20px;
 }
 
 .selected-game_thumbnails > * {
     padding: 10px 20px;
     border-style: solid;
     border-color: #E8E8E8;
     cursor: pointer;
 }

 .selected-game_thumbnails div:hover {
    border-color: #b82f7a;
}
 
 .heading-viewed {
     margin-top: 50px;
 }