
body {
    font-family: 'Source Sans Pro', sans-serif, Verdana, Geneva, Tahoma;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Ubuntu', sans-serif, Verdana, Geneva, Tahoma;
}

h1 {
    font-size: 1.5em;
    color: #B82F7A;
    margin: 0;
}

h4 {
    color: #1B203D;
    font-size: 1em;
}

p {
    color: #1B203D;
}

.header {
    background: linear-gradient(#5900A8, #B82F7A);
}

.header__content {
    display: grid;
    grid-template-columns: 26% 48% 26%;
    align-items: center;
    max-width: 1000px;
    margin: 0px auto;
}

header div {
    text-align: center;
}

nav {
    text-align: right;
}

.search-field {
    max-width: 470px;
    width: 94%;
    height: 40px;
    border-radius: 25px;
    border-style: none;
}

.search-bar i,
.search-bar2 i {
    position: absolute;
    /* margin-left: 430px; */
    margin-top: 7px;
    background-color: #45EDC9;
    border-radius: 50px;
    padding: 7px;   
    right: 15px;
}

.search-bar i:hover,
.search-bar2 i:hover {
    background-color: #3bd6b5;
}

.search-bar2 {
    margin: 10px auto;
    text-align: center;
    max-width: 400px;
    position: relative;
}

.search-field2 {
    max-width: 470px;
    width: 94%;
    height: 40px;
    border-radius: 25px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #E8E8E8;
}

.navigation,
.search-bar {
    display: none;
}

.navigation {
    position: fixed;
    top: 58px;
    background-color: #B82F7A;
    z-index: 1000;
    left: 0px;
    height: 100%;
}

#hamburger-menu:checked ~ .navigation {
    display: flex;
    flex-direction: column;
}  

#hamburger-menu {
    display: none;
    grid-column: 1;
}

header label {
    padding-left: 20px;
}

main {
    max-width: 600px;
    margin: auto 5px;
    
}

.platforms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 600px;
    margin: 20px auto 0px auto;
    grid-gap: 5px;
}


footer {
    background-color: #1B203D;
    color: #fff;
}

.newsletter {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
}

.newsletter__form {
    display: grid;
    max-width: 420px;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto 50px auto;
}

.newsletter__form input,
.newsletter__form button {
    height: 35px;
    margin: 5px;
}

.newsletter h3 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 5px;
}

.h3-newline {
    display: block;
    color: #fff;
}

.site-name {
    color: #45EDC9;
}

footer p {
    font-size: 0.875em;
    color: #fff;
}

.newsletter p {
    margin-top: 5px;
}

.support {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 50px auto;
}

.connect {
    height: 100%;
    max-width: 150px;
    margin-left: 20px;
}

.connect img {
    margin-right: 20px;
}

.support ul {
    list-style: none;
    text-align: left;

}

.support nav {
    grid-column: 2;
    justify-self: end;
    margin-right: 20px;
}

.copyright p {
    max-width: 1000px;
    margin: auto;
    font-size: 0.8em;
}

.hr {
    border: none;
    height: 0.5px;
    background-color: #E8E8E8;
}

.white {
    background-color: #fff;
}

.mapline-hrtop {
    margin-top: 20px;
    max-width: 1000px;
}

.mapline {
    display: flex;
    margin: 12px 0px;
    font-size: 0.875em;
}

.mapline__links {
    display: inline;
}

.mapline__links > * {
    margin-left: 5px;
    color: #1B203D;
}

.mapline p {
    margin: 0px 5px 0px 0px;
    color: #5900A8;
    font-weight: bold;
}

.no-games {
    margin-top: 30px;
    margin-bottom: 400px;
}

.catalogue-heading {
    margin-top: 30px;
}

span {
    color: #5900A8;
    font-weight: bold;
}

.success {
    background-color: #c6f7c6;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #008000;
    max-width: 500px;
}

.newsletter-error {
    color: #bd0000;
    display: none;
}
