
body {
    font-family: 'Source Sans Pro', sans-serif, Verdana, Geneva, Tahoma;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Ubuntu', sans-serif, Verdana, Geneva, Tahoma;
}

h1 {
    font-size: 1.5em;
    color: #B82F7A;
    margin: 0;
}

h4 {
    color: #1B203D;
    font-size: 1em;
}

p {
    color: #1B203D;
}

.header {
    background: linear-gradient(#5900A8, #B82F7A);
}

.header__content {
    display: grid;
    grid-template-columns: 26% 48% 26%;
    align-items: center;
    max-width: 1000px;
    margin: 0px auto;
}

header div {
    text-align: center;
}

nav {
    text-align: right;
}

.search-field {
    max-width: 470px;
    width: 94%;
    height: 40px;
    border-radius: 25px;
    border-style: none;
}

.search-bar i,
.search-bar2 i {
    position: absolute;
    /* margin-left: 430px; */
    margin-top: 7px;
    background-color: #45EDC9;
    border-radius: 50px;
    padding: 7px;   
    right: 15px;
}

.search-bar i:hover,
.search-bar2 i:hover {
    background-color: #3bd6b5;
}

.search-bar2 {
    margin: 10px auto;
    text-align: center;
    max-width: 400px;
    position: relative;
}

.search-field2 {
    max-width: 470px;
    width: 94%;
    height: 40px;
    border-radius: 25px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #E8E8E8;
}

.navigation,
.search-bar {
    display: none;
}

.navigation {
    position: fixed;
    top: 58px;
    background-color: #B82F7A;
    z-index: 1000;
    left: 0px;
    height: 100%;
}

#hamburger-menu:checked ~ .navigation {
    display: flex;
    flex-direction: column;
}  

#hamburger-menu {
    display: none;
    grid-column: 1;
}

header nav a {
}

header label {
    padding-left: 20px;
}

main {
    max-width: 600px;
    margin: auto 5px;
    
}

.platforms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 600px;
    margin: 20px auto 0px auto;
    grid-gap: 5px;
}


footer {
    background-color: #1B203D;
    color: #fff;
}

.newsletter {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
}

.newsletter span {
    color: #45EDC9;
}

.newsletter__form {
    display: grid;
    max-width: 420px;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto 50px auto;
}

.newsletter__form input {
    height: 35px;
    margin: 5px;
}

.newsletter h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 5px;
}

footer p {
    font-size: 0.875em;
    color: #fff;
}

.newsletter p {
    margin-top: 5px;
}

.support {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 50px auto;
}

.connect {
    height: 100%;
    max-width: 150px;
    margin-left: 20px;
}

.connect img {
    margin-right: 20px;
}

.support ul {
    list-style: none;
    text-align: left;

}

.support nav {
    grid-column: 2;
    justify-self: end;
    margin-right: 20px;
}

.copyright p {
    max-width: 1000px;
    margin: auto;
    font-size: 0.8em;
}

.hr {
    border: none;
    height: 0.5px;
    background-color: #E8E8E8;
}

.mapline-hrtop {
    margin-top: 20px;
    max-width: 1000px;
}

.mapline {
    display: flex;
    margin: 12px 0px;
    font-size: 0.875em;
}

.mapline__links {
    display: inline;
}

.mapline__links > * {
    margin-left: 5px;
    color: #1B203D;
}

.mapline p {
    margin: 0px 5px 0px 0px;
    color: #5900A8;
    font-weight: bold;
}

.no-games {
    margin-top: 30px;
    margin-bottom: 400px;
}

.catalogue-heading {
    margin-top: 30px;
}

span {
    color: #5900A8;
    font-weight: bold;
}


/* Links
-------------------------------------------------------------------------------------------------- */

.logo {
    grid-column: 3;
    text-align: right;
}

.logo img {
    height: 54px;
}

a {
    text-decoration: none;
}

header nav a {
    font-size: 1em;
    color: #fff;
}

.nav-account {
    background: url(../icons/Account.png);
    background-repeat: no-repeat;
    background-position: left;
}

.nav-wishlist {
    background: url(../icons/Hearth.png);
    background-repeat: no-repeat;
    background-position: left;
}

.nav-cart {
    background: url(../icons/Cart.png);
    background-repeat: no-repeat;
    background-position: left;
    text-align: left;
}

.nav-account,
.nav-wishlist,
.nav-cart {
    padding: 22px 40px;
    margin: 20px 70px 0px 20px;
}

footer a {
    font-size: 1em;
    color: #fff;
}

.platforms a {
    font-family: 'Ubuntu', sans-serif, Verdana, Geneva, Tahoma;
    font-size: 1em;
    text-align: center;
    color: #1B203D;
    border-style: solid;
    border-color: #B82F7A;
    border-radius: 25px;
    border-width: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cta {
    background-color: #B82F7A;
    color: #fff;
    text-align: center;
    grid-column: -1/1;
    margin-left: -23px;
    margin-right: -23px;
    padding: 10px 0px;
}

.cta-large {
    background-color: #45EDC9;
    border-style: none;
    font-size: 1em;
    max-height: 40px;
    font-weight: bold;
    color: #1B203D;
}


/* Home Page
--------------------------------------------------------------------------------------------------- */

.slider-heading {
    margin-top: 30px;
}

.slider {
    max-width: 1000px;
    max-height: 454px;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
}

.slide-one,
.slide-two {
    max-width: 1000px;
    flex-shrink: 0;
    height: 425px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    width: 100%;
}

.slide-one {
    background-image: url(../images/GameHub_covers9.jpg);
    background-position-y: 27%;
}

.slide-two {
    background-image: url(../images/GameHub_covers10.jpg);
    background-position-y: 44%;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0px;
    right: -100%;
    bottom: 0px;
    left: 0px;
    margin-bottom: 5px;
    background-color: rgba(0,0,0,0.33);
}

.slider h2 {
    font-size: 1.2em;
    position: relative;
    color: #fff;
}

.slider a {
    position: relative;
    background-color: #45EDC9;
    height: 20px;
    width: 80px;
    padding: 12px 60px;
    border-radius: 25px;
}

.slide-one h2,
.slide-two h2 {
    margin-left: 37px;
    margin-top: 200px;
}

.slide-one a,
.slide-two a {
    margin-left: 20px;
    margin-top: 200px;
}

.slider::-webkit-scrollbar {
    height: 10px;
}

.slider::-webkit-scrollbar-track {
    background: #E8E8E8; 
    border-radius: 10px;
    margin-top: 5px;
  }

.slider::-webkit-scrollbar-thumb {
    background-color: #7E7E7E;
    border-radius: 10px;
}

.featured {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    margin: 50px auto;
    grid-gap: 20px;
}

.featured__price-drops {
    background-image: url(../images/Poster_price-drops.png);
}

.featured__daily-deals {
    background-image: url(../images/Poster_daily-deals.jpg);
}

.featured__trade-in {
    background-image: url(../images/Poster_trade-in.jpg);
}

.featured__price-drops,
.featured__daily-deals,
.featured__trade-in {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 150px;
}

.featured__trade-in span {
    color: #45EDC9;
}

.featured h3 {
    color: #fff;
    margin: 10px 0px 0px 10px;
}

.featured p {
    font-size: 1em;
    color: #45EDC9;
    margin: 0px 0px 0px 10px;
    bottom: 60%;
}

/* Playbox  (and Price Drops)
--------------------------------------------------------------------------------------------------- */

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    margin-top: 20px;
    grid-gap: 10px;
}

.options__filters,
.options__sort {
    display: flex; 
    color: #1B203D;
    font-size: 0.9em;
    border-style: solid;
    border-width: 2px;
    border-color: #5900A8;
    padding: 5px;
    max-width: 156px;
}

.options__sort {
    justify-self: end;
    width: 156px;
}
.options p {
    margin: 0px 0px 0px 10px;
}

.game-selection {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 35px;
    max-width: 1000px;
    margin: 50px auto;
}

.game-selection__specific {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 43px 35px 10px 35px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 0.5px;
    background-image: url(../icons/Hearth_gray.png);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 3%;
}

.game-selection__specific img {
    max-width: 100%;
    grid-column: -1/1;
}

.game-selection__specific h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.old-price {
    text-decoration: line-through;
    color: #7E7E7E;
}

.new-price {
    color: #ff0000; 
}

.specific__price {
    text-align: right;
    margin-right: -23px;
}

.specific__title {
    margin-left: -23px;
    width: 120px;
}

.game-selection p {
    color: #7E7E7E;
    margin: 5px 0px 20px -23px;
}

.page-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    color: #E8E8E8;
    margin-bottom: 20px;
}

.pv-count {
    text-align: center;
    color: #1B203D;
}

.pv-next {
    text-align: right;
}

.hidden {
    visibility: hidden;
}

/* Product pages
--------------------------------------------------------------------------------------------------- */

.selected-game {
   display: grid;
   grid-template-columns: 1fr;
}

.selected-game__images {
    margin: 50px 45px 20px 20px;
}

.selected-game__images img {
    max-width: 100%;
}
 
.selected-game__details {
    margin: 50px 20px 20px 20px;
}

.selected-game__details h3 {
    color: #1B203D;  
    font-size: 1.5em;
    margin: 0;
}

.selected-game__details h4 {
    margin: 5px 0px 20px 0px;
    color: #7E7E7E;
    font-weight: 200;
}

.selected-game__details p {
    color: #1B203D;
}

.details_description {
    margin-top: 10px;
    margin-bottom: 0px;
}

.details_genre {
    margin-top: 45px;
    margin-bottom: 20px;
}

.details_decision {
    display: grid;
    margin: 50px 0px;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 45px;
}

.details_decision p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.details_cta {
    text-align: center;
    padding: 12px 0px;
}

.selected-game_thumbnails {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.selected-game_thumbnails > * {
    padding: 10px 20px;
    border-style: solid;
    border-color: #E8E8E8;
}

.heading-viewed {
    margin-top: 50px;
}


/* Shopping Cart And Payment
--------------------------------------------------------------------------------------------------- */

.cart-heading,
.shipping-header,
.option-checked,
.option-unchecked,
.payment-heading,
.payment__unchecked,
.payment__checked {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-heading,
.payment-heading {
    margin-top: 30px;
}

.cart-heading h1,
.payment-heading h1 {
    margin: 0px; 
    color: #1B203D;
}

.shopping-cart,
.payment {
    display: flex;
    flex-direction: column;
}

.shopping-cart__border,
.payment__border {
    margin: 20px 0px;
}

.shopping-cart img {
    max-width: 100%;
}

.cart-items {
    display: grid;
    grid-template-columns: 1fr;
}

.item-information {
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    margin-left: 30px;
    margin-top: 10px;
    width: 230px;
}

.information-line > *,
.information-line, 
.order-line > * {
    margin: 0px;
}

.information-line_one p  {
    font-family: 'Ubuntu', sans-serif, Verdana, Geneva, Tahoma;
    color: #7E7E7E;
    font-size: 0.875em;
    margin-top: 5px;
}
.information-line_three {
    padding: 5px;
    height: 20px;
    width: 60px;
    text-align: center;
    border-style: solid;
    border-color: #5900A8;
    border-width: 2px;
    margin: auto 0px 0px 0px ;
}

.item-information_price {
    justify-self: end;
    margin: auto 0px 0px 0px;
}

.shopping-cart__border hr {
    margin-top: 35px;
}

.shipping-options {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    max-height: 300px;
}

.option-checked,
.option-unchecked {
    margin-left: 10px;
    margin-top: 0px;
}

.option-unchecked span {
    margin-left: 20px;
    text-decoration: underline;
    color: #1B203D;
    font-weight: 100;
}

.option-checked p,
.option-unchecked p {
    font-weight: bold;
}

.free-shipping,
.price-total {
    display: flex;
    flex-direction: row;
}

.free-shipping {
    margin-bottom: 20px;
}

.shipping-days {
    margin: 0px 0px 0px 35px;
}

.price-total {
    justify-self: end;
    align-items: center;
    gap: 30px;
}

.free-shipping_price {
    width: 100%;
    text-align: right;
    color: #ff0000;
    margin: 20px 0px 0px 0px;
}

.order-summary {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-items: start;
    height: 225px;
    margin: 60px auto 70px 40px;
    max-width: 207px;
}

.order-summary div {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 207px;
}

.order-line h4 {
    justify-self: right;
}

.order-line hr {
    width: 200%;
    margin: 10px 10px;
}

.order-line_three h4,
.order-line_three p {
    color: #B82F7A;
    font-weight: bold;
}

.cart-cta {
    text-align: center;
    padding: 12px 0px;
    width: 100%;
    margin: 30px 0px 10px 0px;
}

.payment-options {
    margin: 20px 0px;
    padding: 0px 0px 15px 0px;
}

.payment__unchecked p,
.payment__checked p {
    font-weight: bold;
    margin: 0px 0px 00px 5px;
}

.payment-option_description {
    margin: 5px 0px 0px 28px;
}

.card-details {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin: 20px 0px 5px 29px;
}

.card-number,
.date-year,
.cvc {
    border-color: #E8E8E8;
    border-style: solid;
    border-width: 0.5px;
    padding: 10px;
}

.card-number {
    grid-row: 1;
    border-radius: 6px 6px 0px 0px;
}

.date-year {
    grid-row: 2;
    border-radius: 0px 0px 0px 6px;
}

.cvc {
    grid-row: 3;
    border-radius: 0px 0px 6px 0px;
}

.card-logos {
    margin: 10px 0px;
    text-align: center;
}

/* Contact
--------------------------------------------------------------------------------------------------- */

.contact-header {
    margin-top: 30px;
}

.contact_wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.contact  {
    border: solid;
    border-color: #E8E8E8;
    border-width: 0.5px;
    padding: 30px 20px;
    max-width: 405px;
    margin: 20px auto 30px auto;
}

.contact__form {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 120px ;
    grid-gap: 20px;
}

.contact__form input,
.contact__form textarea {
    border-radius: 6px;
    border-color: #E8E8E8;
    border-style: solid;
    border-width: 0.7px;
    font-family: 'Source Sans Pro', sans-serif, Verdana, Geneva, Tahoma;
}

.contact__form input {
    height: 30px;
}

.contact__form textarea {
    height: 120px;
}

.contact-cta {
    margin: 25px; 
    width: 207px;
    height: 40px;
}

.contact-note {
    font-size: 0.875em;
    margin: auto 0px 60px 0px; 
}

/* About Us
--------------------------------------------------------------------------------------------------- */
.about-us h1 {
    margin-top: 30px;
}
.about-us {
    margin-top: 20px;
    margin-bottom: 50px;
}

.about-us h3{
    color: #1B203D;
}


/* Trade In
--------------------------------------------------------------------------------------------------- */

.trade-margin {
    margin-bottom: 310px;
}

.trade-info span {
    font-style: italic;
}


/* Confirmation
--------------------------------------------------------------------------------------------------- */

.confirmation {
    margin-top: 80px;
    margin-bottom: 20px;
    color: #B82F7A;
    height: 600px;
    position: relative;
}

.confirmation-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
   

.confirmation-h1 {
    font-size: 2em;
    text-align: center;
}

.thanks-p {
    font-size: 1.2em;
    text-align: center;
}

.order-details {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin: 50px auto 70px auto;
    max-width: 145px;
    border: solid;
    border-color: #E8E8E8;
    border-width: 0.5px;
    padding: 15px 20px ;
}

.order-details p {
    margin: 0px;
}

.confirmation-cta {
    padding: 10px 30px;
    background-color: #B82F7A;
    color: #fff;
    text-align: center;
    padding: 15px 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Media queries
--------------------------------------------------------------------------------------------------- */

@media (min-width: 500px) {
    .contact  {
        padding: 30px 110px;
    }

    .option-checked,
    .option-unchecked {
    width: 300px;
    }

    .cart-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .item-information {
        margin-left: 45px;
        margin-top: 0px;
    }

    .shopping-cart__border {
    margin: 30px 10px 50px 20px;
    padding: 20px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 0.5px;
    }

    .order-summary {
        margin: 0px 20px 70px 70px;
    }

    .card-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 20px 29px 5px 29px;
    }

    .card-number {
    grid-column: -1/1;
    }

    .date-year {
        grid-column: 1;
        grid-row: 2;
    }

    .cvc {
        grid-column: 2;
        grid-row: 2;
    }
}

@media (min-width: 600px) {

    main {
        max-width: 1000px;
        margin: auto;
    }

    .logo {
       grid-column: 1;
       text-align: left;
    }

    .logo img {
        height: 100px;
    }

    .search-bar {
        display: inline;
        grid-column: 2;
        /* margin-left: 20px; */
        position: relative;
    }

    .search-bar2 {
        display: none;
    }

    header label,
    #hamburger-menu {
        display: none;
    }

    .header__content {
        grid-template-columns: 26% 43% 31%;
    }

    .navigation {
        display: inline;
        grid-column: 3;
        position: static;
        background-color: transparent;
        margin-top: 22px;
        height: 10%;
    }

    .nav-account,
    .nav-wishlist,
    .nav-cart {
    padding: 22px 0px 0px 0px;
    margin: 20px 30px;
    background-position: top;
    }

    .nav-account,
    .nav-wishlist {
        margin: 0px 5px;
    }

    .nav-cart {
        margin-left: 15px;
        margin-right: 0px;
    }
    
    .featured {
        grid-template-columns: repeat(3, 1fr); 
        height: 100%;
    }

    .featured h3 {
        margin: 25px 0px 0px 10px;
    }

    .game-selection {
        grid-template-columns: 1fr 1fr;
    }

    .game-selection__specific img {
        width: 100%;
        max-height: 350px;
    }
    
    .connect {
        max-width: 250px;
        margin-left: 50px;
    }
    
    .support nav {
        margin-right: 50px;
    }

    .contact  {
        margin: 20px 90px 30px 20px;
    }

    .selected-game__details {
        min-width: 460px;
    }

    .details_decision {
        margin: 70px 0px 0px 0px;
        grid-template-columns: 1fr 1fr;
    }

    .slide-one,
    .slide-two {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .slide-one h2,
    .slide-two h2 {
        grid-column: 1;
        grid-row: 4;
        left: 20px;
        bottom: -30px;
        margin: 0px;
        height: 50px;
    }
    
    .slide-one a,
    .slide-two a {
        grid-column: 4;
        grid-row: 4;
        right: 20px;
        bottom: -21px;
        margin-left: 0;
        margin: 0px;
    }

    .confirmation-h1 {
        font-size: 2.5em;
    }

    .thanks-p {
        font-size: 1.5em;
        text-align: center;
    }

    .confirmation-heading {
        display: flex;
        flex-direction: row;
    }

    .confirmation-h1 {
        text-align: left;
    }     
}


@media (min-width: 800px) {

    main {
        max-width: 1000px;
        margin: auto;
    }

    .game-selection {
        grid-template-columns: repeat(4, 1fr);
    }

    .game-selection__specific img {
        width: 100%;
        max-height: 201px;
    }

    .selected-game {
        grid-template-columns: 1fr 1fr;
    }

    .shopping-cart,
    .payment {
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

    .nav-account,
    .nav-wishlist {
        margin: 0px 15px;
    }

    .platforms {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        max-width: 960px;
        margin: 20px auto 0px auto;
        grid-gap: 30px;
    }

    .platforms a {
        font-size: 1.15em;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .logo img {
        height: 171px;
        margin-left: -15px;
    }

    .newsletter {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    .newsletter__form {
        margin: 50px 0px 50px 100px;
    }

    .contact-cta {
        margin: 25px auto 0px 25%; 
    }

    .selected-game__details {
        margin: 50px 20px 20px 45px;
    }

    .order-summary {
        margin: 30px 0px 0px 105px;
    }

    .slider h2 {
        font-size: 1.4em;
    }
}


@media (min-width: 850px) {

    .header__content {
        display: grid;
        grid-template-columns: 26% 48% 26%;
    }

    .contact_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .contact  {
        width: 405px;
    }

    .payment__border {
        margin: 30px 10px 50px 20px;
        padding: 20px;
        border-style: solid;
        border-color: #E8E8E8;
        border-width: 0.5px;
    }

    .slider h2 {
        font-size: 1.5em;
    }

    .slide-one a,
    .slide-two a {
        right: 10px;
    }
}

@media (min-width: 1000px) {

    .payment-options {
        border: solid;
        border-color: #E8E8E8;
        border-width: 0.5px;
        margin: 20px 50px;
        padding: 15px 20px 15px 20px;
    }

    .slider h2 {
        font-size: 1.8em;
    }
    
    .slide-one a,
    .slide-two a {
        right: 0px;
    }
}